In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")

In [3]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beringovskiy,RU,2021-05-26 23:55:27,63.0500,179.3167,32.83,93,99,15.39
1,1,San Policarpo,PH,2021-05-26 23:55:28,12.1791,125.5072,82.58,82,55,6.78
2,2,Hobyo,SO,2021-05-26 23:55:28,5.3505,48.5268,78.33,78,77,18.21
3,3,Tiksi,RU,2021-05-26 23:52:17,71.6872,128.8694,35.74,92,65,3.15
4,4,Albany,US,2021-05-26 23:52:14,42.6001,-73.9662,71.02,88,68,4.00

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
##locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
##temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
##fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
##heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
##fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
##fig

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
temps[10]

56.12

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.#Adjust the heat map:zoom, intensity and point radius
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable. Use list comprehension.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)


#Modify the heatmap again:
#heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,San Policarpo,PH,2021-05-26 23:55:28,12.1791,125.5072,82.58,82,55,6.78
2,2,Hobyo,SO,2021-05-26 23:55:28,5.3505,48.5268,78.33,78,77,18.21
9,9,Rikitea,PF,2021-05-26 23:51:04,-23.1203,-134.9692,75.42,72,94,20.45
11,11,Homnabad,IN,2021-05-26 23:55:30,17.7667,77.1333,78.85,51,100,16.67
13,13,Loandjili,CG,2021-05-26 23:55:30,-4.7561,11.8578,77.11,94,40,2.30
16,16,Hilo,US,2021-05-26 23:54:59,19.7297,-155.0900,78.80,86,35,5.01
21,21,Kishi,NG,2021-05-26 23:55:32,9.0833,3.8500,76.71,84,75,9.73
23,23,Bandarbeyla,SO,2021-05-26 23:55:33,9.4942,50.8122,78.93,78,77,19.26
33,33,Srandakan,ID,2021-05-26 23:55:36,-7.9386,110.2506,78.69,81,98,5.21
39,39,Bengkulu,ID,2021-05-26 23:52:31,-3.8004,102.2655,78.42,80,96,4.03

In [17]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [20]:
preferred_cities_df.notnull().sum()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [23]:
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df.head()

             City Country  Max Temp      Lat       Lng
1   San Policarpo      PH     82.58  12.1791  125.5072
2           Hobyo      SO     78.33   5.3505   48.5268
9         Rikitea      PF     75.42 -23.1203 -134.9692
11       Homnabad      IN     78.85  17.7667   77.1333
13      Loandjili      CG     77.11  -4.7561   11.8578

In [24]:
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1   San Policarpo      PH     82.58  12.1791  125.5072
2           Hobyo      SO     78.33   5.3505   48.5268
9         Rikitea      PF     75.42 -23.1203 -134.9692
11       Homnabad      IN     78.85  17.7667   77.1333
13      Loandjili      CG     77.11  -4.7561   11.8578
16           Hilo      US     78.80  19.7297 -155.0900
21          Kishi      NG     76.71   9.0833    3.8500
23    Bandarbeyla      SO     78.93   9.4942   50.8122
33      Srandakan      ID     78.69  -7.9386  110.2506
39       Bengkulu      ID     78.42  -3.8004  102.2655

In [25]:
#Set the parameters to search for a hotel: 1. API key, 2. Lat and Lng, 3. 5,000-meter radius, 4. Type of place

params = {"radius":5000, "type":"lodging", "key": g_key}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,San Policarpo,PH,82.58,12.1791,125.5072,JM Lodge
2,Hobyo,SO,78.33,5.3505,48.5268,Halane Hotel and Restaurent
9,Rikitea,PF,75.42,-23.1203,-134.9692,Pension Maro'i
11,Homnabad,IN,78.85,17.7667,77.1333,Marthand Vilas
13,Loandjili,CG,77.11,-4.7561,11.8578,Résidence ARCHANGE
16,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Kishi,NG,76.71,9.0833,3.8500,NCCF Kishi
23,Bandarbeyla,SO,78.93,9.4942,50.8122,JABIR HOTEL
33,Srandakan,ID,78.69,-7.9386,110.2506,Puri Brata
39,Bengkulu,ID,78.42,-3.8004,102.2655,Grage Hotel Bengkulu

In [37]:
#create info box template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))