In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")

In [3]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuktoyaktuk,CA,2021-05-30 00:17:49,69.4541,-133.0374,30.20,86,90,4.61
1,1,Caluquembe,AO,2021-05-30 00:17:49,-13.7833,14.6833,54.16,45,53,0.34
2,2,Vaini,TO,2021-05-30 00:17:49,-21.2000,-175.2000,78.96,89,75,0.00
3,3,Luena,AO,2021-05-30 00:17:50,-11.7833,19.9167,50.54,46,4,3.42
4,4,Santa Maria,BR,2021-05-30 00:17:50,-29.6842,-53.8069,51.66,84,0,2.84

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
##locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
##temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
##fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
##heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
##fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
##fig

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
temps[10]

99.05

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.#Adjust the heat map:zoom, intensity and point radius
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable. Use list comprehension.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)


#Modify the heatmap again:
#heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [15]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vaini,TO,2021-05-30 00:17:49,-21.2000,-175.2000,78.96,89,75,0.00
6,6,Rikitea,PF,2021-05-30 00:17:50,-23.1203,-134.9692,76.80,86,96,21.65
19,19,Fortuna,US,2021-05-30 00:17:54,40.5982,-124.1573,78.19,82,75,3.00
24,24,Avarua,CK,2021-05-30 00:17:56,-21.2078,-159.7750,77.05,61,25,9.22
25,25,Raga,SS,2021-05-30 00:17:56,8.4596,25.6780,76.86,52,18,4.38
31,31,Luganville,VU,2021-05-30 00:17:58,-15.5333,167.1667,76.73,68,100,5.68
59,59,Vila Velha,BR,2021-05-30 00:18:07,-20.3297,-40.2925,78.75,86,0,4.00
61,61,Padang,ID,2021-05-30 00:18:07,-0.9492,100.3543,77.68,76,98,4.14
69,69,Ipixuna,BR,2021-05-30 00:18:10,-1.7625,-48.8043,76.95,87,85,3.44
71,71,Bengkulu,ID,2021-05-30 00:18:10,-3.8004,102.2655,75.22,87,97,4.63

In [16]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [17]:
preferred_cities_df.count()

City_ID       77
City          77
Country       77
Date          77
Lat           77
Lng           77
Max Temp      77
Humidity      77
Cloudiness    77
Wind Speed    77
dtype: int64

In [18]:
preferred_cities_df.notnull().sum()

City_ID       77
City          77
Country       77
Date          77
Lat           77
Lng           77
Max Temp      77
Humidity      77
Cloudiness    77
Wind Speed    77
dtype: int64

In [19]:
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df.head()

       City Country  Max Temp      Lat       Lng
2     Vaini      TO     78.96 -21.2000 -175.2000
6   Rikitea      PF     76.80 -23.1203 -134.9692
19  Fortuna      US     78.19  40.5982 -124.1573
24   Avarua      CK     77.05 -21.2078 -159.7750
25     Raga      SS     76.86   8.4596   25.6780

In [20]:
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2        Vaini      TO     78.96 -21.2000 -175.2000
6      Rikitea      PF     76.80 -23.1203 -134.9692
19     Fortuna      US     78.19  40.5982 -124.1573
24      Avarua      CK     77.05 -21.2078 -159.7750
25        Raga      SS     76.86   8.4596   25.6780
31  Luganville      VU     76.73 -15.5333  167.1667
59  Vila Velha      BR     78.75 -20.3297  -40.2925
61      Padang      ID     77.68  -0.9492  100.3543
69     Ipixuna      BR     76.95  -1.7625  -48.8043
71    Bengkulu      ID     75.22  -3.8004  102.2655

In [21]:
#Set the parameters to search for a hotel: 1. API key, 2. Lat and Lng, 3. 5,000-meter radius, 4. Type of place

params = {"radius":5000, "type":"lodging", "key": g_key}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
#create info box template: How do we get this info from the DF????????????????????????
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig